<h1>Welcome to Magic Match Tracker</h1>
<p>Here you can create user account, add decks and then add matches, that you have played versus your friends.</p>

<p>
<%= link_to 'List of current players', players_path %>
</p>
