<h1>Player</h1>
<p><strong>Name: </strong><%= @player.name %></p>
<p><strong>Email: </strong><%= @player.email %></p>
<p><%= link_to 'Edit player', edit_player_path(@player) %></p>
<p><%= link_to 'Player list', players_path %></p>